NEXT_PUBLIC_APP_NAME = 'My Store'
NEXT_PUBLIC_APP_DESCRIPTION = 'THIS IS A DESCRIPTION'

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

LATEST_PRODUCTS_LIMIT = 4
AUTH_SECRET=""